<!-- list of chats -->
<div 
    id="chat-list"
    x-ref="chat-list"

    x-data="{ chats : [] }"
    x-init="
        data = await(
            await fetch('/api/chats')
        ).json()

        console.log(data.chats);

        chats = data.chats;
    "
>
    
    <template x-for="chat in chats">
        <div class="item">
            <span class="title" x-text="chat.title"></span>
            <ul class="tags" x-data="{ tags: chat.tags }">
                <template x-for="tag in tags">
                    <li x-text="tag" class="tag"></li>
                </template>
            </ul>
        </div>
    </template>
</div>
