<div id="messages">
    <template x-for="message in messages">
        <div :class="{
            'message-wrapper': true,
            'user': message.role === 'user',
            'assistant': message.role === 'assistant'
        }">
            <div class="message">
                <div :class="message.role"><div class="content-wrapper" x-html="renderMarkdown(message.content)"></div></div>
            </div>
        </div>
    </template>
</div>

<div id="input">
    {% include 'components/input.html' %}
</div>
