<!-- list of categories -->
<div id="category-list" x-ref="category-list">
    <template x-for="category in categories">
        <ul class="item" @click="selectCategory(category)">
            <span class="title" x-text="category"></span>
        </ul>
    </template>
</div>

<!-- list of chats -->
<div id="chat-list" x-ref="chat-list" x-data="{query: ''}">
    <div class="search">
        <input type="text" placeholder="Search through your chats.." x-model="query">
    </div>

    <div class="chats">
        <template x-for="chat in chats">
            <!-- only show if it matches the current category and search query -->
            <template
                x-if="
                    chat.category === selectedCategory
                    &&
                    chat.title.toLowerCase().includes(query.toLowerCase())
            ">
                <!-- give selected chats a nice border via the CSS class -->
                <div
                    x-data="{ active: false }"
                    :class="{'item': true, 'active': chat.id === selectedChat}"
                    @click="active = !active; selectChat(chat.id)"
                >
                    <span class="title" x-text="chat.title"></span>
                    <ul class="tags" x-data="{ tags: chat.tags }">
                        <template x-for="tag in tags">
                            <li x-text="tag" class="tag"></li>
                        </template>
                    </ul>
                </div>
            </template>
        </template>
    </div>
</div>
