header {
    padding: 6px 12px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    overflow-x: hidden !important;

    .left {
        display: flex;
        align-items: center;
        gap: 14px;
    }
    .right {
        display: flex;
        align-items: center;
        gap: 8px;

        .stream-state {
            font-size: 0.85rem;
            padding: 4px 17px;
            border: 1px solid var(--border-color);
            border-radius: var(--radius-sm);
            color: var(--text-primary);
            transition: all 0.2s ease;
            display: flex;
            align-items: center;
        }
    }

    h1 {
        font-size: 1.1rem;
        font-weight: 700;
        letter-spacing: -0.02em;
        color: var(--text-secondary);
        /*
        background: linear-gradient(135deg, var(--accent) 0%, var(--text-primary) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        */
    }

    .btn {
        padding: 8px 12px;
        background: none;
        border: 1px solid var(--border-color);
        border-radius: var(--radius-sm);
        color: var(--text-secondary);
        font-size: 0.85rem;
        cursor: pointer;
        transition: all 0.2s ease;
        display: flex;
        align-items: center;
        gap: 6px;

        &:hover {
            background: var(--bg-secondary);
            color: var(--text-primary);
            border-color: var(--accent);
            transform: translateY(-1px);
        }
        &:active {
            transform: translateY(0);
        }

        svg {
            width: 16px;
            height: 16px;
        }
    }

    .menu-btn {
        padding: 4px 7px;
        background: transparent;
        border: 1px solid var(--border-color);
        border-radius: var(--radius-sm);
        color: var(--text-secondary);
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
            background: var(--bg-tertiary);
            color: var(--text-primary);
            border-color: var(--accent);
        }

        svg {
            width: 20px;
            height: 20px;
        }
    }
}
