<!DOCTYPE html>
<!-- OpenLumara WebUI v{{ version }} by Rose22 -->
<html>
    <head>
        <title>{{ title }}</title>
        
        <!-- libraries -->
        <script src="{{ url_for('assets', path='js/libs/alpine.min.js') }}" defer></script>
        <script src="{{ url_for('assets', path='js/libs/purify.min.js') }}"></script>
        <script src="{{ url_for('assets', path='js/libs/marked.min.js') }}"></script>

        <!-- stylesheets -->
        {% for file in css_files %}
        <link rel="stylesheet" href="{{ url_for('assets', path='css/'+file) }}" />
        {% endfor %}
    </head>
    <body>
        <section id="main-wrapper"
            x-data="{
                chats: [],
                chat: {},
                messages: [],
                user_input: '',
                selectedChat: null,

                async selectChat(chatId) {
                    this.selectedChat = chatId;
                    this.chat = await simpleApiFetch(`/api/chat/load/${chatId}`);
                    this.messages = this.chat.messages;
                }
            }"
            x-init="
                chats = await simpleApiFetch('/api/chats');
                messages = await simpleApiFetch('/api/chat/messages');
            "
        >
            <section id="sidebar">
                {% include 'components/chats.html' %}
            </section>

            <section id="chat-window">
                {% include 'components/chat.html' %}
            </section>
        </section>

        <!-- javascript files -->
        {% for file in js_files %}
        <script src="{{ url_for('assets', path='js/'+file) }}"></script>
        {% endfor %}

        <!-- initialization script -->
        <script language="javascript">
            async function initialize() {
                // disabled until websocket support is actually in
                // await connectWebSocket();
            }

            initialize();
        </script>
    </body>
</html>
