import core

class ExampleChannel(core.channel.Channel):
    async def run(self):
        """main loop. this gets launched as a background task by the framework when openlumara boots"""
        while True:
            user_input = input("User> ")
            response = self.send({"role": "user", "content": user_input})
            print("AI:")
            async for token in response:
                if response.get("type") == "content":
                    print(token.get("content"), end="", flush=True)

    async def _announce(self, message: str, type: str):
        """handles "announcements", which are basically messages emitted by the framework without having to prompt the AI into it"""
        # handle individual types however you like.
        print(f"[ANNOUNCEMENT {type}] {message}")
