<div class="setting-item">
    <!-- Text/URL -->
    <template x-if="item.type === 'text' || item.type === 'url'">
        <div class="setting-row">
            <label x-text="formatLabel(item.key)"></label>
            <input type="text" :type="item.type" :value="item.value" @input="$dispatch('change', { key: item.key, value: $event.target.value })" :placeholder="item.description">
            <span class="setting-description" x-show="item.description" x-html="item.description"></span>
        </div>
    </template>

    <!-- Number -->
    <template x-if="item.type === 'number'">
        <div class="setting-row">
            <label x-text="formatLabel(item.key)"></label>
            <input type="number" :value="item.value" :min="item.min" :max="item.max" :step="item.step || 1" @input="$dispatch('change', { key: item.key, value: parseFloat($event.target.value) })">
            <span class="setting-description" x-show="item.description" x-html="item.description"></span>
        </div>
    </template>

    <!-- Boolean -->
    <template x-if="item.type === 'boolean'">
        <div class="setting-row toggle-row">
            <label x-text="formatLabel(item.key)"></label>
            <button type="button" :class="{ active: item.value }" @click="$dispatch('change', { key: item.key, value: !item.value })">
                <span x-text="item.value ? 'ON' : 'OFF'"></span>
            </button>
            <span class="setting-description" x-show="item.description" x-html="item.description"></span>
        </div>
    </template>

    <!-- Textarea -->
    <template x-if="item.type === 'textarea'">
        <div class="setting-row">
            <label x-text="formatLabel(item.key)"></label>
            <textarea :value="item.value" @input="$dispatch('change', { key: item.key, value: $event.target.value })" rows="4"></textarea>
            <span class="setting-description" x-show="item.description" x-html="item.description"></span>
        </div>
    </template>

    <!-- Select -->
    <template x-if="item.type === 'select'">
        <div class="setting-row">
            <label x-text="formatLabel(item.key)"></label>
            <select :value="item.value" @change="$dispatch('change', { key: item.key, value: $event.target.value })">
                <template x-for="option in (item.options || [])" :key="option">
                    <option :value="option" x-text="option"></option>
                </template>
            </select>
            <span class="setting-description" x-show="item.description" x-html="item.description"></span>
        </div>
    </template>

    <!-- Array -->
    <template x-if="item.type === 'array'">
        <div class="setting-row">
            <label x-text="formatLabel(item.key)"></label>
            <array-input :item="item" @change="$dispatch('change', $event.value)"></array-input>
            <span class="setting-description" x-show="item.description" x-html="item.description"></span>
        </div>
    </template>

    <!-- Object -->
    <template x-if="item.type === 'object'">
        <div class="setting-row">
            <label x-text="formatLabel(item.key)"></label>
            <object-input :item="item" @change="$dispatch('change', $event.value)"></object-input>
            <span class="setting-description" x-show="item.description" x-html="item.description"></span>
        </div>
    </template>

    <!-- Model -->
    <template x-if="item.type === 'model'">
        <div class="setting-row">
            <label x-text="formatLabel(item.key)"></label>
            <select :value="item.value" @change="$dispatch('change', { key: item.key, value: $event.target.value })">
                <option value="">-- Select Model --</option>
                <template x-for="model in (cachedModels || [])" :key="model">
                    <option :value="model" x-text="model"></option>
                </template>
            </select>
            <span class="setting-description" x-show="item.description" x-html="item.description"></span>
        </div>
    </template>

    <!-- Toggle List -->
    <template x-if="item.type === 'toggle_list'">
        <div class="setting-row">
            <label x-text="formatLabel(item.key)"></label>
            <toggle-list :item="item" @change="$dispatch('change', $event.value)"></toggle-list>
            <span class="setting-description" x-show="item.description" x-html="item.description"></span>
        </div>
    </template>
</div>
