<template x-if="showUnsafe || !setting.unsafe">
    <div class="item" :class="{ 'unsafe': setting.unsafe }">
        <!-- Boolean -->
        <template x-if="setting.type === 'boolean'">
            <div>
                <div class="toggle-row">
                    <label x-text="setting.title"></label>
                    <button class="toggle" type="button" :class="{ active: setting.value }" @click="updateSetting(setting, !setting.value)">
                    </button>
                </div>
                <span class="description" x-show="setting.description" x-html="renderMarkdown(setting.description)"></span>
            </div>
        </template>

        <!-- Number -->
        <template x-if="setting.type === 'number'">
            <div class="row">
                <label x-text="setting.title"></label>
                <input type="number" :value="setting.value" :min="setting.min" :max="setting.max" :step="setting.step || 1" 
                       @input="updateSetting(setting, parseFloat($event.target.value))">
                <span class="description" x-show="setting.description" x-html="renderMarkdown(setting.description)"></span>
            </div>
        </template>

        <!-- Text/URL -->
        <template x-if="
            (setting.type === 'text' || setting.type === 'url')
            &&
            (activeCategory != 'model' && setting.title != 'Name')
        ">
            <div class="row">
                <label x-text="setting.title"></label>
                <input type="text" :type="setting.type" :value="setting.value" 
                       @input="updateSetting(setting, $event.target.value)">
                <span class="description" x-show="setting.description" x-html="renderMarkdown(setting.description)"></span>
            </div>
        </template>

        <!-- Textarea -->
        <template x-if="setting.type === 'textarea'">
            <div class="row">
                <label x-text="setting.title"></label>
                <textarea :value="setting.value" rows="4" 
                          @input="updateSetting(setting, $event.target.value)"></textarea>
                <span class="description" x-show="setting.description" x-html="renderMarkdown(setting.description)"></span>
            </div>
        </template>

        <!-- Select -->
        <template x-if="setting.type === 'select'">
            <div class="row">
                <label x-text="setting.title"></label>
                <span class="setting-description" x-show="setting.description" x-html="renderMarkdown(setting.description)"></span>
                <select :value="setting.value" @change="updateSetting(setting, $event.target.value)">
                    <template x-for="[optionKey, optionLabel] in Object.entries(setting.options || {})" :key="optionKey">
                        <option :value="optionKey" x-text="optionKey" :selected="setting.value === optionKey"></option>
                    </template>
                </select>
                <span class="description" x-show="setting.options && setting.options[setting.value]" x-html="renderMarkdown(setting.options[setting.value])"></span>
            </div>
        </template>

        <!-- Model Dropdown -->
        <!-- very hacky way of detecting it for now.. but it'll have to do -->
        <template x-if="activeCategory === 'model' && setting.title === 'Name'">
            <div class="row model-setting-row">
                <label x-text="setting.title"></label>
                <div class="model-input-container">
                    <template x-if="cachedModels && cachedModels.length > 0">
                        <select :value="setting.value" @change="updateSetting(setting, $event.target.value)" class="model-select">
                            <option value="" disabled>-- Select a model --</option>
                            <template x-for="model in cachedModels" :key="model">
                                <option :value="model" x-text="model" :selected="model === setting.value"></option>
                            </template>
                            <!-- Custom option if current value not in list -->
                            <template x-if="setting.value && !cachedModels.find(m => m === setting.value)">
                                <option :value="setting.value" x-text="setting.value + ' (custom)'" selected></option>
                            </template>
                        </select>
                    </template>
                    <template x-if="!cachedModels || cachedModels.length === 0">
                        <input type="text" :value="setting.value" placeholder="Enter model name" 
                               @input="updateSetting(setting, $event.target.value)">
                    </template>
                    <button type="button" @click="fetchModels()" class="model-refresh-btn" :disabled="loading"
                            :title="cachedModels && cachedModels.length > 0 ? 'Refresh model list' : 'Load models from API'">
                            {% include 'svg/reload.svg' %}
                    </button>
                </div>
                <span class="description" x-show="setting.description" x-html="renderMarkdown(setting.description)"></span>
                <!-- Error message if fetch failed -->
                <p class="error" x-show="modelsLoadError" x-text="'Could not load models: ' + modelsLoadError"></p>
            </div>
        </template>
    </div>
</template>
