<div class="setting-item">
    <!-- Boolean -->
    <template x-if="setting.type === 'boolean'">
        <div>
            <div class="toggle-row">
                <label x-text="setting.title"></label>
                <button type="button" :class="{ active: setting.value }" @click="updateSetting(setting, !setting.value)">
                </button>
            </div>
            <span class="setting-description" x-show="setting.description" x-html="setting.description"></span>
        </div>
    </template>

    <!-- Number -->
    <template x-if="setting.type === 'number'">
        <div class="setting-row">
            <label x-text="setting.title"></label>
            <input type="number" :value="setting.value" :min="setting.min" :max="setting.max" :step="setting.step || 1" 
                   @input="updateSetting(setting, parseFloat($event.target.value))">
            <span class="setting-description" x-show="setting.description" x-html="setting.description"></span>
        </div>
    </template>

    <!-- Text/URL -->
    <template x-if="setting.type === 'text' || setting.type === 'url'">
        <div class="setting-row">
            <label x-text="setting.title"></label>
            <input type="text" :type="setting.type" :value="setting.value" 
                   @input="updateSetting(setting, $event.target.value)">
            <span class="setting-description" x-show="setting.description" x-html="setting.description"></span>
        </div>
    </template>

    <!-- Textarea -->
    <template x-if="setting.type === 'textarea'">
        <div class="setting-row">
            <label x-text="setting.title"></label>
            <textarea :value="setting.value" rows="4" 
                      @input="updateSetting(setting, $event.target.value)"></textarea>
            <span class="setting-description" x-show="setting.description" x-html="setting.description"></span>
        </div>
    </template>

    <!-- Select -->
    <template x-if="setting.type === 'select'">
        <div class="setting-row">
            <label x-text="setting.title"></label>
            <span class="setting-description" x-show="setting.description" x-html="setting.description"></span>
            <select :value="setting.value" @change="updateSetting(setting, $event.target.value)">
                <template x-for="[optionKey, optionLabel] in Object.entries(setting.options || {})" :key="optionKey">
                    <option :value="optionKey" x-text="optionKey"></option>
                </template>
            </select>
            <span class="setting-description" x-show="setting.options && setting.options[setting.value]" x-html="setting.options[setting.value]"></span>
        </div>
    </template>
</div>

