<div id="messages" x-ref="messages" x-auto-scroll>
    <!--
        reload the chat on streaming state change.
        reloadChat() automatically rejects when streaming is ongoing,
        so this essentially just takes care of all stages before/after streaming
    -->
    <template x-data="{ state: $store.stream.state }" x-effect="await reloadChat()"></template>

    <template x-for="turn in turns">
        <div>
            <!-- user messages get rendered seperately -->
            <template x-if="turn.role === 'user'">
                <div class="message-wrapper user">
                    <div class="message user" x-html="renderMarkdown(turn.messages[0].content)"></div>
                </div>
            </template>

            <!-- 
                assistant messages get collected into turns for display in the UI,
                by the turn() getter in js/alpine_main.js

                oh and it also contains the streaming message as the last message in the array
            -->
            <template x-if="turn.role === 'assistant'">
                <div class="message-wrapper assistant">
                    <div class="message assistant">
                        <!-- all messages within a turn are displayed within the same message bubble -->
                        <template x-for="message in turn.messages">
                            <div>
                                <!-- render the messages based on message role -->

                                <template x-if="message.role === 'user'">
                                    <div class="content normal" x-text="message.content"></div>
                                </template>

                                <template x-if="message.role === 'assistant'">
                                    <div>
                                        <template x-if="message.type === 'reasoning' || message.type === 'history'">
                                            {% include 'chat/reasoning.html' %}
                                        </template>
                                        <template x-if="message.type === 'content' || message.type === 'history'">
                                            <div class="content" x-html="renderMarkdown(message.content)"></div>
                                        </template>
                                        <template x-if="message.type === 'tool_call_delta'">
                                            <div x-show="$store.stream.state === 'calling_tools'">
                                                <p><i>calling tool..</i></p>
                                            </div>
                                        </template>
                                        <template x-if="message.type === 'tool_calls'">
                                            {% include 'chat/toolcalls.html' %}
                                        </template>
                                    </div>
                                </template>

                                <template x-if="message.role === 'tool'">
                                    {% include 'chat/tool.html' %}
                                </template>
                            </div>
                        </template>
                    </div>
                </div>
            </template>
        </div>
    </template>

    <!-- typing indicator -->
    <template x-if="$store.stream.state === 'sending'">
        <div class="typing-indicator" id="typing" aria-label="AI is typing" x-ignore>
            <span></span><span></span><span></span>
        </div>
    </template>

    <!-- prompt processing indicator (works with llama.cpp) -->
    <template x-if="$store.stream.state === 'processing'">
        {% include 'chat/prompt_processing.html' %}
    </template>
</div>

<div id="input">
    {% include 'chat/input.html' %}
</div>
