{% if config.get('enable_chat_header') %}
    {% include 'chat/header.html' %}
{% endif %}
{% if config.get('enable_chat_titlebar') %}
    {% include 'chat/titlebar.html' %}
{% endif %}

<template x-if="notice">
    <div class="notice" x-html="notice"></div>
</template>

<div id="messages" x-ref="messages" x-auto-scroll x-animate.ease-out>
    <template x-for="(turn, turnIndex) in turns">
        <div>
            <!-- user messages get rendered seperately -->
            <template x-if="turn.role === 'user'">
                <div class="message-wrapper user" x-data="{ message: turn.messages[0] }">
                    <div :class="{
                        'message': true,
                        'user': message.role === 'user',
                        'pending': message.msgId === $store.stream.pendingMessageId,
                        'command': message.is_cmd
                    }">
                        <div style="display: flex;" x-html="renderMarkdown(message.content)"></div>
                        <template x-if="message.msgId === $store.stream.pendingMessageId">
                            <span class="status">Sending..</span>
                        </template>
                    </div>
                </div>
            </template>

            <!-- 
                assistant messages get collected into turns for display in the UI,
                by the turn() getter in js/alpine_main.js

                oh and it also contains the streaming message as the last message in the array
            -->
            <template x-if="turn.role === 'assistant'">
                <div class="message-wrapper assistant">
                    <div class="message assistant">
                        <!-- all messages within a turn are displayed within the same message bubble -->
                        <template x-for="(message, msgIndex) in turn.messages">
                            <div :class="{'flex': true, 'fullwidth': true, 'command': message.is_cmd}">
                                <!-- render the messages based on message role -->
                                <template x-if="message.role === 'assistant'">
                                    <div class="flex fullwidth">
                                        <template x-if="(message.type === 'reasoning') || (message.type === 'history' && message.reasoning_content && message.reasoning_content.trim().length > 0) || (message.type === 'tool_calls' && message.reasoning_content && message.reasoning_content.trim().length > 0)">
                                            {% include 'chat/reasoning.html' %}
                                        </template>
                                        <template x-if="message.type === 'content' || message.type === 'history'">
                                            <div class="content" x-html="renderMarkdown(message.content)"></div>
                                        </template>
                                        <template x-if="message.type === 'tool_calls' || message.type === 'tool_call_delta'">
                                            {% include 'chat/toolcalls.html' %}
                                        </template>
                                    </div>
                                </template>
                            </div>
                        </template>
                    </div>
                </div>
            </template>
        </div>
    </template>

    <!-- user message placeholder to display while the message is being sent to the API -->
    <!--
    <template x-if="$store.stream.state === 'sending'">
        <div class="message-wrapper user placeholder">
            <div class="message user placeholder">
                <span x-text="last_user_input"></span>
                <span class="placeholder-status">Sending..</span>
            </div>
        </div>
    </template>
    -->

    <!-- typing indicator -->
    <template x-if="$store.stream.state === 'received'">
        <div class="typing-indicator" id="typing" aria-label="AI is typing" x-ignore>
            <span></span><span></span><span></span>
        </div>
    </template>

    <!-- prompt processing indicator (works with llama.cpp) -->
    <template x-if="$store.stream.state === 'processing'">
        {% include 'chat/prompt_processing.html' %}
    </template>
</div>

<div id="input">
    {% include 'chat/input.html' %}
</div>
